In [6]:
import csv
import subprocess
import pandas as pd
import requests
import git
import json
import os
from git import Repo
import os
import pandas as pd
import numpy as np

In [2]:
!pip install GitPython

Collecting GitPython
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.3/184.3 kB 14.1 MB/s eta 0:00:00
Collecting gitdb<5,>=4.0.1 (from GitPython)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 8.1 MB/s eta 0:00:00
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->GitPython)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, GitPython
Successfully installed GitPython-3.1.31 gitdb-4.0.10 smmap-5.0.0

In [22]:
#Clone the Github Repository
os.system('git clone https://github.com/PhonePe/pulse.git')

32768

# Aggregate Transaction

In [24]:
root_dir = (r'/content/pulse/data')
# Loop over all the state folders
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df1 = pd.DataFrame(data_list)
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,madhya-pradesh,2018,4,Peer-to-peer payments,11456555,3.089735e+10
1,madhya-pradesh,2018,4,Recharge & bill payments,7273502,1.669346e+09
2,madhya-pradesh,2018,4,Merchant payments,2056426,1.036250e+09
3,madhya-pradesh,2018,4,Financial Services,313540,4.336724e+07
4,madhya-pradesh,2018,4,Others,297532,2.592969e+08
...,...,...,...,...,...,...
3589,himachal-pradesh,2019,2,Peer-to-peer payments,1141873,4.428008e+09
3590,himachal-pradesh,2019,2,Recharge & bill payments,1076793,2.798646e+08
3591,himachal-pradesh,2019,2,Merchant payments,248517,1.410886e+08
3592,himachal-pradesh,2019,2,Financial Services,5013,1.453652e+06
3593,himachal-pradesh,2019,2,Others,30110,2.546950e+07

# Aggregate User

In [25]:
root_dir = '/content/pulse/data/aggregated/user/country/india/state'
df2_list = []

for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):
        for json_file in os.listdir(state_path):
            if json_file.endswith('.json'):
                with open(os.path.join(state_path, json_file), 'r') as f:
                    json_data = json.load(f)
                    if isinstance(json_data, list):
                        df2_list += json_data
                    else:
                        df2_list.append(json_data)
        if df2_list:
            df2 = pd.json_normalize(df2_list)
            df2['subfolder'] = state_dir
            df2['subsubfolder'] = 'state'
df2 = pd.DataFrame(data_list)
df2

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,madhya-pradesh,2018,4,Peer-to-peer payments,11456555,3.089735e+10
1,madhya-pradesh,2018,4,Recharge & bill payments,7273502,1.669346e+09
2,madhya-pradesh,2018,4,Merchant payments,2056426,1.036250e+09
3,madhya-pradesh,2018,4,Financial Services,313540,4.336724e+07
4,madhya-pradesh,2018,4,Others,297532,2.592969e+08
...,...,...,...,...,...,...
3589,himachal-pradesh,2019,2,Peer-to-peer payments,1141873,4.428008e+09
3590,himachal-pradesh,2019,2,Recharge & bill payments,1076793,2.798646e+08
3591,himachal-pradesh,2019,2,Merchant payments,248517,1.410886e+08
3592,himachal-pradesh,2019,2,Financial Services,5013,1.453652e+06
3593,himachal-pradesh,2019,2,Others,30110,2.546950e+07

# Map Transaction

In [26]:
root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for hoverDataList in data['data']['hoverDataList']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': hoverDataList['name'],
                                    'Transaction_Type': hoverDataList['metric'][0]['type'],
                                    'Transaction_Count': hoverDataList['metric'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df3 = pd.DataFrame(data_list)
df3

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count
0,madhya-pradesh,2018,4,morena district,TOTAL,4.692038e+08
1,madhya-pradesh,2018,4,alirajpur district,TOTAL,4.516548e+07
2,madhya-pradesh,2018,4,sehore district,TOTAL,1.051788e+09
3,madhya-pradesh,2018,4,rajgarh district,TOTAL,6.600552e+08
4,madhya-pradesh,2018,4,khargone district,TOTAL,5.475275e+08
...,...,...,...,...,...,...
14631,himachal-pradesh,2019,2,kullu district,TOTAL,3.311740e+08
14632,himachal-pradesh,2019,2,mandi district,TOTAL,4.649029e+08
14633,himachal-pradesh,2019,2,lahul and spiti district,TOTAL,3.494809e+06
14634,himachal-pradesh,2019,2,chamba district,TOTAL,1.280089e+08
14635,himachal-pradesh,2019,2,kinnaur district,TOTAL,6.576856e+07

# Map user

In [27]:
root_dir = '/content/pulse/data/map/user/hover/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district, values in data['data']['hoverData'].items():
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarter': int(json_file.split('.')[0]),
                                    'District': district,
                                    'RegisteredUsers': values['registeredUsers'],
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df4 = pd.DataFrame(data_list)
df4

,States,Transaction_Year,Quarter,District,RegisteredUsers
0,madhya-pradesh,2018,4,morena district,95267
1,madhya-pradesh,2018,4,alirajpur district,10442
2,madhya-pradesh,2018,4,sehore district,125974
3,madhya-pradesh,2018,4,rajgarh district,88511
4,madhya-pradesh,2018,4,khargone district,91189
...,...,...,...,...,...
14635,himachal-pradesh,2019,2,kullu district,51977
14636,himachal-pradesh,2019,2,mandi district,86701
14637,himachal-pradesh,2019,2,lahul and spiti district,1490
14638,himachal-pradesh,2019,2,chamba district,33377
14639,himachal-pradesh,2019,2,kinnaur district,9771

# Top transaction

In [28]:
root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for districts in data['data']['districts']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': districts['entityName'],
                                    'Transaction_Type': districts['metric']['type'],
                                    'Transaction_Count': districts['metric']['count'],
                                    'Transaction_Amount': districts['metric']['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df5 = pd.DataFrame(data_list)
df5

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,madhya-pradesh,2018,4,bhopal,TOTAL,4226983,6.249311e+09
1,madhya-pradesh,2018,4,indore,TOTAL,2826520,5.075022e+09
2,madhya-pradesh,2018,4,gwalior,TOTAL,894712,1.644666e+09
3,madhya-pradesh,2018,4,jabalpur,TOTAL,866243,1.360239e+09
4,madhya-pradesh,2018,4,sehore,TOTAL,783146,1.051788e+09
...,...,...,...,...,...,...,...
5915,himachal-pradesh,2019,2,kullu,TOTAL,129068,3.311740e+08
5916,himachal-pradesh,2019,2,sirmaur,TOTAL,127208,2.208858e+08
5917,himachal-pradesh,2019,2,una,TOTAL,105685,1.893216e+08
5918,himachal-pradesh,2019,2,bilaspur,TOTAL,68748,1.289173e+08
5919,himachal-pradesh,2019,2,chamba,TOTAL,62922,1.280089e+08

# Top user

In [29]:
root_dir = '/content/pulse/data/top/user/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district in data['data']['districts']:
                                row_dict = {
                                    'State': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': district['name'] if 'name' in district else district['pincode'],
                                    'RegisteredUsers': district['registeredUsers'],
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df6 = pd.DataFrame(data_list)
df6

                 State Transaction_Year  Quarters  District  RegisteredUsers
0       madhya-pradesh             2018         4    indore           712479
1       madhya-pradesh             2018         4    bhopal           571518
2       madhya-pradesh             2018         4   gwalior           284894
3       madhya-pradesh             2018         4  jabalpur           248495
4       madhya-pradesh             2018         4    ujjain           177894
...                ...              ...       ...       ...              ...
5915  himachal-pradesh             2019         2     kullu            51977
5916  himachal-pradesh             2019         2  hamirpur            51669
5917  himachal-pradesh             2019         2       una            47644
5918  himachal-pradesh             2019         2  bilaspur            38131
5919  himachal-pradesh             2019         2    chamba            33377

[5920 rows x 5 columns]

# Cleaning

In [30]:
# Drop any duplicates
d1 = df1.drop_duplicates()
d2 = df2.drop_duplicates()
d3 = df3.drop_duplicates()
d4 = df4.drop_duplicates()
d5 = df5.drop_duplicates()
d6 = df6.drop_duplicates()

In [31]:
#checking Null values
null_counts = d1.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [32]:
null_counts = d2.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [33]:
null_counts = d3.isnull().sum()
print(null_counts)

States               0
Transaction_Year     0
Quarters             0
District             0
Transaction_Type     0
Transaction_Count    0
dtype: int64

In [34]:
null_counts = d4.isnull().sum()
print(null_counts)

States              0
Transaction_Year    0
Quarter             0
District            0
RegisteredUsers     0
dtype: int64

In [35]:
null_counts = d5.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
District              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [36]:
null_counts = d6.isnull().sum()
print(null_counts)

State               0
Transaction_Year    0
Quarters            0
District            0
RegisteredUsers     0
dtype: int64

In [37]:
d1.to_csv('agg_trans.csv', index=False)
df2.to_csv('agg_user.csv', index=False)
d3.to_csv('map_tran.csv', index=False)
d4.to_csv('map_user.csv', index=False)
d5.to_csv('top_tran.csv', index=False)
d6.to_csv('top_user.csv', index=False)

In [40]:
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')